In [2]:
import pandas as pd         #packages
import datetime 
import numpy as np
from datetime import datetime

In [4]:
data = pd.read_csv("Probe1_Stripling.csv",skiprows= range(1,17))        #Read data and create time column

data.rename(columns={'Time':'Date'}, inplace=True)
data['Date'] = pd.to_datetime(data['Date']) 
data['Time']= data['Date'].dt.time

meteo = pd.read_csv("necessary_meteo_data.csv")

meteo

,Julian Day,Max Air Temperature(C),Min Air Temperature(C),Avg Air Temperature(C),Total Rain2(mm),Evapotranspiration(mm)
0,121,29.18,17.38,21.58,2.54,3.79
1,122,31.56,17.35,23.64,0.00,5.68
2,123,32.28,19.29,25.06,0.00,5.93
3,124,31.84,19.83,25.23,0.00,5.67
4,125,33.06,18.95,26.49,0.00,6.15
...,...,...,...,...,...,...
148,269,33.10,17.01,24.21,0.00,4.03
149,270,27.07,12.65,19.59,0.00,3.12
150,271,25.61,13.81,19.15,0.00,3.49
151,272,22.89,14.56,18.20,0.00,2.61
152,273,25.17,13.61,19.05,0.00,2.81

In [5]:
    #Reset index and keep values only between that time period
    
df = data.set_index('Date').between_time('04:45:00', '05:15:00').reset_index().reindex(columns= data.columns)
df['Julian Day'] = df['Date'].dt.dayofyear

df['Date']=df['Date'].dt.date
df = df.drop_duplicates(subset=['Date'],keep= 'first')
df

,Date,Power,sm1,sm2,sm3,sm4,sm5,sm6,sm sum,temp1,temp2,temp3,temp4,temp5,temp6,Time,Julian Day
0,2022-09-14,On,14.04700,7.727,14.6130,14.50100,16.604000,18.066000,85.558000,69.8216,72.8708,74.6546,75.5924,76.4960,75.8570,04:51:39,257
1,2022-09-13,On,16.21300,8.440,15.2370,14.72500,16.640000,18.140000,89.395000,73.9310,75.6068,76.4798,76.3412,76.7660,76.1126,05:13:02,256
3,2022-09-12,On,15.35000,8.175,15.2220,14.68400,16.554000,18.155000,88.140000,73.9688,75.4898,76.0622,76.2476,76.6706,76.0838,05:06:47,255
4,2022-09-11,On,15.79000,8.332,15.2510,13.95200,16.445000,18.112000,87.882000,73.5116,75.0884,76.1000,76.3412,76.7282,76.1126,05:00:52,254
5,2022-09-10,On,16.36900,8.485,13.7570,13.27200,16.328000,18.023000,86.234000,75.0740,76.1828,76.8038,76.7156,77.0738,76.5500,04:54:47,253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2022-05-28,On,19.56300,11.194,22.2870,27.75700,26.299000,24.316000,131.416000,71.1536,74.9786,77.0054,77.4662,77.7848,76.9208,04:53:18,148
120,2022-05-27,On,22.10400,11.564,22.6650,28.52700,26.840000,24.206000,135.906000,70.7720,73.1444,74.8004,75.2630,76.1252,75.9290,05:09:27,147
121,2022-05-26,On,20.80200,11.000,21.9940,27.45900,25.936000,24.141000,131.332000,72.9878,75.5348,77.0720,77.4194,77.9864,77.2772,04:56:48,146
122,2022-05-25,On,0.02460,0.000,0.7777,0.07615,0.046668,0.000356,0.925474,73.8806,74.4818,73.4324,76.0532,75.2180,75.4880,05:11:18,145
123,2022-05-24,On,0.08281,0.000,0.1878,0.16141,0.062535,0.000000,0.494555,73.2110,73.9346,72.6584,75.4124,74.7842,74.8922,04:48:55,144

In [6]:
df['avg_sm']= df['sm sum']/6
df

,Date,Power,sm1,sm2,sm3,sm4,sm5,sm6,sm sum,temp1,temp2,temp3,temp4,temp5,temp6,Time,Julian Day,avg_sm
0,2022-09-14,On,14.04700,7.727,14.6130,14.50100,16.604000,18.066000,85.558000,69.8216,72.8708,74.6546,75.5924,76.4960,75.8570,04:51:39,257,14.259667
1,2022-09-13,On,16.21300,8.440,15.2370,14.72500,16.640000,18.140000,89.395000,73.9310,75.6068,76.4798,76.3412,76.7660,76.1126,05:13:02,256,14.899167
3,2022-09-12,On,15.35000,8.175,15.2220,14.68400,16.554000,18.155000,88.140000,73.9688,75.4898,76.0622,76.2476,76.6706,76.0838,05:06:47,255,14.690000
4,2022-09-11,On,15.79000,8.332,15.2510,13.95200,16.445000,18.112000,87.882000,73.5116,75.0884,76.1000,76.3412,76.7282,76.1126,05:00:52,254,14.647000
5,2022-09-10,On,16.36900,8.485,13.7570,13.27200,16.328000,18.023000,86.234000,75.0740,76.1828,76.8038,76.7156,77.0738,76.5500,04:54:47,253,14.372333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2022-05-28,On,19.56300,11.194,22.2870,27.75700,26.299000,24.316000,131.416000,71.1536,74.9786,77.0054,77.4662,77.7848,76.9208,04:53:18,148,21.902667
120,2022-05-27,On,22.10400,11.564,22.6650,28.52700,26.840000,24.206000,135.906000,70.7720,73.1444,74.8004,75.2630,76.1252,75.9290,05:09:27,147,22.651000
121,2022-05-26,On,20.80200,11.000,21.9940,27.45900,25.936000,24.141000,131.332000,72.9878,75.5348,77.0720,77.4194,77.9864,77.2772,04:56:48,146,21.888667
122,2022-05-25,On,0.02460,0.000,0.7777,0.07615,0.046668,0.000356,0.925474,73.8806,74.4818,73.4324,76.0532,75.2180,75.4880,05:11:18,145,0.154246
123,2022-05-24,On,0.08281,0.000,0.1878,0.16141,0.062535,0.000000,0.494555,73.2110,73.9346,72.6584,75.4124,74.7842,74.8922,04:48:55,144,0.082426

In [9]:
df_merged = pd.merge(df,meteo,on='Julian Day')
df_merged.to_excel('Products/probe1_full.xlsx',index=False)